@font-face {
    font-family: '9292-icons';
    src: url('../fonts/9292-icons.eot?anpigv');
    src: url('../fonts/9292-icons.eot?anpigv#iefix') format('embedded-opentype'),
    url('../fonts/9292-icons.ttf?anpigv') format('truetype'),
    url('../fonts/9292-icons.woff?anpigv') format('woff'),
    url('../fonts/9292-icons.svg?anpigv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.btn:active,
.btn.active {
    /* outline: 0; */
    /* background-image: none; */
    -webkit-box-shadow: inset 0 3px 5px rgb(52, 184, 179);
    /* box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); */
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '9292-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.modal-body p{
    margin: 0px 0px 0px 0px ;
    margin-right: 5px;
}
.icon-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
}

.icon-sm {
    font-size: 0.7em;
    line-height: inherit;
}

.icon-2x {
    font-size: 2em;
}

.icon-3x {
    font-size: 3em;
}

.icon-4x {
    font-size: 4em;
}

.icon-5x {
    font-size: 5em;
}

.icon-fw {
    width: 1.28571429em;
    text-align: center;
}

.icon-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none;
}

.icon-ul > li {
    position: relative;
}

.icon-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: .14285714em;
    text-align: center;
}

.icon-li.icon-lg {
    left: -1.85714286em;
}

.icon-border {
    padding: .2em .25em .15em;
    border: solid .08em #eee;
    border-radius: .1em;
}

.icon-padding {
    padding: 5px 5px 0 0;
}


/* large versions */
.icon-carrier-busverkehr.levelink {
    line-height: 0.5 !important;
    font-size: 2em !important;
    vertical-align: middle !important;
}

.icon-carrier-busverkehr.levelink.icon-2x {
    line-height: 0.75 !important;
    font-size: 3em !important;
}

.icon-carrier-busverkehr.levelink:before {
    content: "\e960";
}

/* normal versions (add new icons on top for version checking) */
.icon-carrier-ebs-logo:before {
    content: "\e967";
}
.icon-carrier-connexxion-logo:before {
    content: "\e96f";
}
.icon-carrier-arriva-logo:before {
    content: "\e970";
}
.icon-carrier-gvb-logo:before {
    content: "\e96d";
}
.icon-carrier-syntus-logo:before {
    content: "\e96e";
}
.icon-carrier-zonetaxi-logo:before {
    content: "\e96b";
}
.icon-carrier-greenwheels-logo:before {
    content: "\e96c";
}
.icon-carrier-abellio:before {
    content: "\e969";
}
.icon-messenger:before {
    content: "\e96a";
}
.icon-carrier-ebs:before {
    content: "\e967";
}
.icon-carrier-transdev:before {
    content: "\e968";
}
.icon-horizontal-layout:before {
    content: "\e963";
}
.icon-vertical-layout:before {
    content: "\e964";
}
.icon-fiets:before {
    content: "\e961";
}
.icon-fietsenstalling:before {
    content: "\e962";
}
.icon-carrier-levelink:before {
    content: "\e960";
}
.icon-star:before {
    content: "\e95f";
}
.icon-overstappen:before {
    content: "\e95d";
}
.icon-deur-tot-deur:before {
    content: "\e95b";
}
.icon-plannen-opslaan:before {
    content: "\e95c";
}
.icon-nieuw-rijden-l:before {
    content: "\e957";
}
.icon-nieuw-rijden-r:before {
    content: "\e958";
}
.icon-nieuw-rijden:before {
    content: "\e959";
}
.icon-ov-chip:before {
    content: "\e95a";
}
.icon-carrier-flixbus:before {
    content: "\e955";
}
.icon-carrier-u-ov:before {
    content: "\e956";
}
.icon-carrier-nmbs:before {
    content: "\e935";
}
.icon-carrier-aseag:before {
    content: "\e936";
}
.icon-carrier-prov-zeeland:before {
    content: "\e937";
}
.icon-carrier-westerschelde-ferry:before {
    content: "\e938";
}
.icon-carrier-keolis:before {
    content: "\e939";
}
.icon-carrier-breng:before {
    content: "\e93a";
}
.icon-carrier-ov-regio-ijsselmond:before {
    content: "\e933";
}
.icon-carrier-syntus:before {
    content: "\e934";
}
.icon-carrier-db:before {
    content: "\e916";
}
.icon-carrier-htm:before {
    content: "\e917";
}
.icon-carrier-novio:before {
    content: "\e918";
}
.icon-carrier-doeksen:before {
    content: "\e91b";
}
.icon-carrier-veolia:before {
    content: "\e91c";
}
.icon-carrier-fyra:before {
    content: "\e91e";
}
.icon-carrier-gvb:before {
    content: "\e921";
}
.icon-carrier-gvu:before {
    content: "\e922";
}
.icon-carrier-hermes:before {
    content: "\e923";
}
.icon-carrier-arriva:before {
    content: "\e925";
}
.icon-carrier-ns-hispeed:before {
    content: "\e926";
}
.icon-carrier-ns:before {
    content: "\e927";
}
.icon-carrier-ret:before {
    content: "\e928";
}
.icon-carrier-stadsvervoerder-nl:before {
    content: "\e92b";
}
.icon-carrier-wagenborg:before {
    content: "\e92c";
}
.icon-carrier-connexxion:before {
    content: "\e92d";
}
.icon-carrier-tcr:before {
    content: "\e92e";
}
.icon-carrier-teso:before {
    content: "\e92f";
}
.icon-carrier-qbuzz:before {
    content: "\e932";
}
.icon-tram:before {
    content: "\e914";
}
.icon-lightrail:before {
    content: "\e91a";
}
.icon-train:before {
    content: "\e915";
}
.icon-bus:before {
    content: "\e904";
}
.icon-carrier-multiple:before {
    content: "\e919";
}
.icon-taxi:before {
    content: "\e93b";
}
.icon-car:before {
    content: "\e93c";
}
.icon-ferry:before {
    content: "\e903";
}
.icon-fast-ferry:before {
    content: "\e93d";
}
.icon-subway:before {
    content: "\e912";
}
.icon-public-transport:before {
    content: "\e91f";
}
.icon-bus-station:before {
    content: "\e93e";
}
.icon-train-station:before, .icon-station:before {
    content: "\e929";
}
.icon-regional-taxi:before {
    content: "\e93f";
}
.icon-walk:before {
    content: "\e911";
}
.icon-run:before {
    content: "\e940";
}
.icon-blind:before {
    content: "\e900";
}
.icon-wheelchair:before {
    content: "\e901";
}
.icon-stairs:before {
    content: "\e941";
}
.icon-school-transport:before {
    content: "\e942";
}
.icon-meeting-room:before {
    content: "\e943";
}
.icon-bicycle:before {
    content: "\e944";
}
.icon-calendar:before {
    content: "\e92a";
}
.icon-minus:before {
    content: "\e930";
}
.icon-plus:before {
    content: "\e931";
}
.icon-chevron-down:before {
    content: "\e905";
}
.icon-close:before {
    content: "\e91d";
}
.icon-chevron-left:before {
    content: "\e906";
}
.icon-chevron-right:before {
    content: "\e907";
}
.icon-chevron-up:before {
    content: "\e908";
}
.icon-arrow-right:before {
    content: "\e913";
}
.icon-location-marker:before, .icon-location:before {
    content: "\e902";
}
.icon-location-start:before {
    content: "\e965";
}
.icon-location-end:before {
    content: "\e966";
}
.icon-contrast:before {
    content: "\e909";
}
.icon-dot-border:before {
    content: "\e90a";
}
.icon-dot-large:before {
    content: "\e90b";
}
.icon-dot-small:before {
    content: "\e90c";
}
.icon-prices:before {
    content: "\e945";
}
.icon-clock:before {
    content: "\e95e";
}
.icon-alarm-clock:before {
    content: "\e94d";
}
.icon-time:before {
    content: "\e946";
}
.icon-halte:before, .icon-stop:before {
    content: "\e90d";
}
.icon-home:before {
    content: "\e90e";
}
.icon-hear:before {
    content: "\e90f";
}
.icon-journey:before {
    content: "\e910";
}
.icon-envelope:before {
    content: "\e920";
}
.icon-print:before {
    content: "\e924";
}
.icon-calamiteiten:before, .icon-no:before {
    content: "\e947";
}
.icon-settings:before {
    content: "\e948";
}
.icon-privacy:before {
    content: "\e949";
}
.icon-desktop:before {
    content: "\e94a";
}
.icon-mobile:before {
    content: "\e94b";
}
.icon-work:before {
    content: "\e94c";
}
.icon-twitter:before {
    content: "\e94e";
}
.icon-my-9292-female:before {
    content: "\e94f";
}
.icon-my-9292-male:before {
    content: "\e950";
}
.icon-persons:before, .icon-family:before {
    content: "\e951";
}
.icon-faq:before {
    content: "\e952";
}
.icon-news:before {
    content: "\e953";
}
.icon-traffic-cone:before {
    content: "\e954";
}
.glyphicon-user:before {
    content: "\E008";
}
.glyphicon-lock:before {
    content: "\E033"
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(../fonts/glyphicons-halflings-regular.eot);
    src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),
        url(../fonts/glyphicons-halflings-regular.woff) format('woff'),
        url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),
        url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}


#results th{
    padding-right: 20px;
    border-bottom: 1pt solid #34b8b3;
}
#results tr td{
    padding-top: 10px;
}
.tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption{
    top: 250px;
}
@media screen and (max-width: 640px) {
    .tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption{
        top: 80px;
        width: 100%
    }
    #loginbox2{
        padding: 0px;
        margin-top: 0px;
    }
}

#pluswrap {
    background-color: #333;
    opacity: 0.8;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
    height: 93%;
    width: 92.3%;
    overflow: hidden;
    background-image: url('ajax-loader.gif');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 0px 15px 0px 15px;
}
#pluswrap2 {
    background-color: #333;
    opacity: 0.8;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
    height: 94.2%;
    width: 94.8%;
    overflow: hidden;
    background-image: url('ajax-loader.gif');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin: 0px 15px 0px 15px;
}

#pluswrap3 {
    background-color: #333;
    opacity: 0.8;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 100;
    height: 107.7%;
    width: 100%;
    overflow: hidden;
    background-image: url(ajax-loader.gif);
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 48.4px;
}
.plus {
    display: flex;
    margin: 0 auto;
}

.navbar-nav > li > ul {
    display: none;
    list-style-type: none;
    -webkit-padding-start: 0px;
    padding-left: 10px;
}
.login_info {
    text-align: center;
    color: #777777;
    margin-top: 20px;
    margin-right: 80px;
}
#wait_text {
    margin-top: 10px;
    text-align: center;
}
#results th,
#results td{
    padding-right: 10px;
}
@media only screen and (max-width: 800px) {

    .login_info {
        text-align: center;
        color: #ffffff;
        margin:0px
    }
    .container{
        font-size: 14px;
    }
    /* Force table to not be like tables anymore */
    #results table,
    #results thead,
    #results tbody,
    #results th,
    #results td,
    #results tr {

    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #results thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #results tr { border: 1px solid #ccc; }

    #results td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-right: 10px;
        white-space: normal;
        text-align:left;
    }

    #results td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 60%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #results td:before { content: attr(data-title); }

    .navbar-nav > li > ul {
        text-align: center;
    }
    .navbar-nav >li >ul >li {

        padding-bottom: 10px;
    }
    #pluswrap {
        background-color: #333;
        opacity: 0.8;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 100;
        height: 99.9%;
        width: 91%;
        overflow: hidden;
        background-image: url('ajax-loader.gif');
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 20px;
        margin: 0px 15px 0px 15px;
    }
}

