<div id="intraffic-header" dir="ltr" align="left">
<img id="intraffic-logo-po" src="../images/InTraffic_Logo_RGB_payoff.png" width="10%" align="middle" />
<img id="krypc-logo-po" src="../images/krypc-logo.png" width="5%" align="middle"/>
</div>
