<div id="intraffic-intro" >
<h1>Blockchain</h1>
<h2>Dit is de blockchain demo.</h2><h2>Een reiziger vult zijn reiswens in, de blockchain zorgt ervoor dat de reiswens bij de vervoerders terecht komt. De vervoerders doen een bod. De reiziger maakt zijn keus en krijgt een bevesting. De betaling wordt via blockchain geregeld.</h2>
<form action="reiziger.html">
	<input type="submit" value="Volgende >>"/>
</form>
</div>
