font {
	font-family: Arial, sans-serif;
}
h1,h2,p {
	color: #34B8B3;
}
div {
	background-color: white;
}
#intraffic-intro {
	height:90%;
}
#intraffic-header {
	height:100%;
}
#intraffic-footer {
	height:100%;
}
#footer {
	margin-left:10px;
	margin-right:10px;
}
#intraffic-logo-po {
	margin-left:100px;
	margin-right:400px;
}
#krypc-logo-po {
	margin-left:800px;
}
