
<header>
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: white;" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="fa fa-bars fa-lg"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="assets/img/intraffic/InTraffic_Logo_RGB.png" alt=""
                         style="max-width: 350px;margin-top:30px"
                         class="logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">

                    <li><a id="index_link" href="index.html">Inloggen</a>
                    </li>

                    <!--<li><a id="trip_link" href="trip.html">Plan Reis</a>-->
                    <!--</li>-->
                    <!--<li><a id="history_link" href="history.html">Reis History</a>-->
                    <!--</li>-->
                    <li><a id="blockchain_info_link" href="bc_info.html">Info Blockchain</a>
                    </li>

                    <!--<li><a id="order_link"href="order.html">Opwaarderen</a>-->
                    <!--</li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-->
    </nav>
</header>