<script src="assets/js/aes.js"></script>
<style>
    @media (min-width: 768px) {
        .navbar-nav.navbar-right:last-child {
            margin-right: -180px;
        }
    }
</style>
<header>
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: white;" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="fa fa-bars fa-lg"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="assets/img/intraffic/InTraffic_Logo_RGB.png" alt=""
                         style="max-width: 350px;margin-top:30px"
                         class="logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="nav navbar-nav navbar-right login_info" id="login_info">
                    Hallo {{NAME}}! Je balans is €{{BALANCE}}
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <!--
                    <li><a class="getApp" href="#about">Inloggen</a>
                    </li>-->

                    <li><a id="trip_link" href="trip.html">Plan Reis</a>
                    </li>
                    <!--<li><a id="history_link" href="history.html">Reis History</a>-->
                    <!--</li>-->
                    <li><a id="blockchain_info_link" href="bc_info.html">Info Blockchain</a>
                    </li>

                    <!--<li><a id="order_link"href="order.html">Opwaarderen</a>-->
                    <!--</li>-->
                    <li>
                        <a id="accountSUBS" href="#MainStructure">Account informatie<span class="fa fa-angle-down"></span></a>
                        <ul>
                            <li><a id="history_link" href="history.html">Reis History</a>
                            </li>
                            <li><a id="order_link" href="order.html">Opwaarderen</a>
                            </li>
                            <li><a id="logout" href="#">Uitloggen</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-->
    </nav>
</header>
<script>
    $("#accountSUBS").on('click', function(e) {
        $(this).siblings("ul").slideToggle();
        e.preventDefault();
    });
    if (readCookie("session") == "") {
        window.location.href = "index.html?e=Login%20om%20deze%20functionaliteit%20te%20gebruiken"
    }else{
        data = CryptoJS.AES.decrypt(readCookie("session"),key).toString(CryptoJS.enc.Utf8);
        parsed_data = JSON.parse(data);
        var username = parsed_data["username"];
        var password = parsed_data["password"];
        var balance = parsed_data["balance"];
        console.log(username);
        console.log(password);
        tmp = $("#login_info").html();
        tmp = tmp.replace("{{NAME}}",username).replace("{{BALANCE}}",balance);
        $("#login_info").html(tmp)
    }
    $("#logout").click(function(){
        writeCookie("session","",0);
        window.location.href = "index.html?i=Succesvol%20uitgelogd"
    });
</script>