 <div id="myForm" style="width: 600px">
	<div class="w2ui-page page-0" style="marging: 10pt 10pt;">
		<div class="w2ui-field" style="clear:both">
		<label>Van:</label>
			<div>
				<input name="van" type="list" style="width: 200px" />
			</div>
        </div>
		<div style="height: 10px"></div>
        <div class="w2ui-field">
			<label>Naar:</label>
            <div>
				<input name="naar" type="list" style="width: 200px"/>
            </div>
        </div>
		<div style="height: 10px"></div>
        <div class="w2ui-field">
            <label>Vertrek:</label>
            <div>
                <input type="eu-date" name="vertrek" style="width: 200px"/>
            </div>
        </div>
		<div style="height: 10px"></div>
    </div>
	<div style="height: 10px"></div>
    <div class="w2ui-buttons">
        <input type="button" value="Verstuur" name="submit"/>
    </div>
	<div style="height: 10px"></div>
</div>
